@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-regular.ttf') format('ttf'),
        url('../fonts/Poppins-Regular.woff') format('woff2'),
        url('../fonts/Poppins-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
}
.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
    list-style-type: none;
}

.menu__list-item+.menu__list-item {
    margin-left: 24px;
}

.menu__list-link {
    color: #2F281E;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
}
.user-nav {
    margin-right: 13px;
    margin-left: 53px;
}

.user-nav__link{
   padding: 11px 23px;
    color:#173A56;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    border: solid 1px #BCD0E5;
    border-radius: 4px;
    margin-top: 16px;
}
.user-nav__link+.user-nav__link {
    margin-left: 14px;
    color: #fff;
    background: #FF9900;
    border-radius: 4px;
    border-color: transparent;
}